<main>

  <!-- breadcrumb area start -->
  <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay header-img data-background="assets/img/breadcrumb/breadcrumb-bg-1.jpg">
     <div class="container">
        <div class="row">
           <div class="col-xxl-12">
              <div class="breadcrumb__content text-center p-relative z-index-1">
                 <h3 class="breadcrumb__title">About</h3>
                 <div class="breadcrumb__list">
                  <span><%= link_to "Home", root_path%></span>
                  <span class="dvdr"><i class="fas fa-angle-right"></i></span>
                    <span>About</span>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
  <!-- breadcrumb area end -->

  <!-- about area start -->
  <section class="about__area pt-120 pb-120 p-relative">
   <div class="container">
      <div class="row">
         
         <div class="col-xxl-12 col-xl-12 col-lg-12">
            <div class="about__content pl-70 pr-25">
               <div class="section__title-wrapper mb-15">
                  <span class="section__title-pre">About Betatech</span>
                  <h2 class="section__title">Degrees in Various Academic Disciplines</h2>
               </div>
               <p>Welcome to the Beta Tech Institute!
                  We are a team of highly trained and experienced professionals dedicated to providing computer
                  courses to individuals and businesses. Our institute offers a wide range of computer science
                  courses, from basic computer skills to advanced programming languages and software development.
                  Our courses are designed to meet the needs of different skill levels, from beginner to advanced.
                 </p>

               <div class="about__list mb-40">
                  <ul>
                     <li><i class="fas fa-check"></i> Access to all our courses</li>
                     <li><i class="fas fa-check"></i> Learn the latest skills</li>
                     <li><i class="fas fa-check"></i> Upskill your organization</li>
                  </ul>

                 </div>
              </div>
           </div>
           <div class="about__content pl-70 pr-25">
            <p>
            We provide training, hands-on exercises, and real-world examples to ensure students have the
            skills and knowledge they need to succeed in the ever-changing world of technology.
            Our instructors are experts in their fields and have years of industry experience. They are
            passionate about teaching and are dedicated to helping their students achieve their learning
            goals. We believe technology can transform lives and businesses, and we are dedicated to helping
            students advance their careers. Our courses are updated regularly to keep up with the latest
            trends and technological developments.
            We also offer flexible study options to fit students' busy schedules. Whether you prefer regular,
            online, or hybrid approaches to learning, we have the right options for you.
            We pride ourselves on providing a supportive learning environment and excellent customer
            service. Our students' success is our top priority, and we are committed to helping them achieve
            their goals.
            Thank you for considering us as your computer training provider. We look forward to helping you
            on your journey to success in the tech world.</div></p>
         </div>
        </div>
     </div>
  </section>
  <!-- about area end -->

  <section class="ceo-message__area pt-120 pb-120 p-relative">
   <div class="container">
     <div class="row">
       <div class="col-12">
         <div class="ceo-message__content text-center">
           <div class="row">
            <div class="col-md-4">
               <div class="image-container">
                 <img src="images/sarim.jpg" alt="" width="250" class="img-fluid about-img">
                 </div>
             </div>

             <div class="col-md-8">
               <h2 class="ceo-message__title">CEO Message</h2><br>
               <div class="d-flex justify-content-center align-items-center">
               <p>
                 Dear valued Learners and team members, I am honored to lead this innovative and dynamic organization. Our mission is to provide exceptional technology solutions and services to help our learners achieve their goals. With the support of our talented team, we are committed to delivering excellence and driving success in the digital age.
                 <br><span style="font-weight: bold;">Engr. Muhammad Sarim Riaz (UK Certified Trainer)</span>
               </p>
               </div>
             </div>
           </div>
           <br>
           <div class="row">
             <div class="col-md-4">
               <div class="image-container">
                 <img src="images/abid.jpg" alt="" width="250" class="img-fluid about-img">
                 </div>
             </div>
             <div class="col-md-8">
               <h2 class="ceo-message__title">MD Message</h2><br>
               <div class="d-flex justify-content-center align-items-center">
               <p>
                  Dear learners,
                  Welcome to our institute! Our team is dedicated to providing you with the
                  best education and practical skills that will prepare you for a successful
                  career in the world of technology. We are committed to your success and
                  look forward to supporting you on your learning journey.
                  <br><span style="font-weight: bold;">Engr. Abid Hussain (Senior Trainer)</span>
               </p>
            </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 
 

  
</main>