<!DOCTYPE html>
<html lang="en">

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>Welcome to Prime Trucking, <%= @contact_u.first_name %>
  </h1>
  <p>Your Feedback is recorded we will contact you back as soon as possible</p>
  <p>Thanks for contacting us and have a great day!</p>
</body>

</html>