<!DOCTYPE html>
<html lang="en">

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h1>
    <%= @contact.name %>, Contacted You
  </h1>
  <p>
    <%= @contact.message %>
  </p>
</body>

</html>